/*-------------------------
	Simple reset
--------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;

 }
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
}

/*-------------------------
	General Styles
--------------------------*/
html{
	background-color: 
}
body{
	font-size: 14px;
	font-family: "PT Sans", "Source Sans Pro", "Open Sans", Segoe, Helvetica, Arial, sans-serif;
	color: #fff;
	font-weight: normal;
}
a, a:visited {
	outline: none;
	color: #aaa;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
section, footer, header{
	display: block;
	width: inherit;
}
/*----------------------------
	The Header
-----------------------------*/
header h1{
	text-align:left;
	font-size: 52px;
	font-family: 'Novecento Wide', Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding-top: 60px;

}
/*----------------------------
	The Weather Div
-----------------------------*/

html, body {
  height: 100% !important;
  width: 100% !important;
  overflow: none;
}
#weather {
  padding: 100px 0 0;
  margin: 0 auto;
  height: 80%;
  width: 80%;
  overflow: auto;
}
#slide-rain {
  background-color: #014f72;
  background-image: linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
background-image: -o-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
background-image: -moz-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
background-image: -webkit-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
background-image: -ms-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.14, rgb(103,176,210)),
	color-stop(0.86, rgb(1,78,114))
);
  display: block;
}
#slide-clouds {
  background-color: #648695;
  background-image: linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
background-image: -o-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
background-image: -moz-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
background-image: -webkit-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
background-image: -ms-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);äslid

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.14, rgb(184,201,212)),
	color-stop(0.86, rgb(100,134,149))
);
  display: block;
}
#slide-clear {
  background-color: #01a7f2;
  background-image: linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -o-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0.14, rgb(133,216,255)),	color-stop(0.86, rgb(1,166,242)));
}
#slide-snow {
  background-image: linear-gradient(to bottom, #dbdbdb 14%, #bdbdbd 86%);
  background-image: -o-linear-gradient(bottom, #dbdbdb 14%, #bdbdbd 86%);
  background-image: -moz-linear-gradient(bottom, #dbdbdb 14%, #bdbdbd 86%);
  background-image: -webkit-linear-gradient(bottom, #dbdbdb 14%, #bdbdbd 86%);
  background-image: -ms-linear-gradient(bottom, #dbdbdb 14%, #bdbdbd 86%);
  background-image: -webkit-gradient(linear,	left top,	left bottom, color-stop(0.14, #dbdbdb), color-stop(0.86, #bdbdbd));
}

#slide-about {
  background-color: grey;
  background-image: linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -o-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-gradient(linear, left bottom, left top,	color-stop(0.14, rgb(102,102,102)), color-stop(0.86, rgb(51,51,51)));
}
#slide-blank {
  background-color: grey;
  background-image: linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -o-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.14, rgb(102,102,102)), color-stop(0.86, rgb(51,51,51)));
  display: block;
}
#slide-error {
  background-image: linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -o-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top,	color-stop(0.14, rgb(252,124,92)), color-stop(0.86, rgb(238,46,3)));
  display: block;
}
footer {
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}
.huge {
  font-size: 80px;
  margin-bottom: 80px;
  letter-spacing: 0.006em;
  line-height: 98%;
}
.hugeAbout {
  font-size: 80px;
  margin-bottom: 80px;
  letter-spacing: 0.006em;
  line-height: 98%;
}
.subtitle {
  font-size: 28px;
  font-style: italic;
  font-weight: normal;
}
.about {
  font-size: 19px;
  line-height: 140%;
}
.about > a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.location {
  font-family: "PT Sans", "Source Sans Pro", "Open Sans", Segoe, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  float: left;
  padding-top: 6px;
}
#settings {
  margin: 6px 0 0 10px;
  cursor: pointer;
}
#menu {
  margin-bottom: 5px;
}
.info {
  font-family: "PT Sans", "Source Sans Pro", "Open Sans", Segoe, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff !important;
  float: right;
  cursor: pointer;
}


/*#####################################################*/
/*#####################################################*/

@media screen and (max-width: 1100px) {
.huge {
  font-size: 60px;
  margin-bottom: 40px;
  padding-top: 30px;
}
.hugeAbout {
  font-size: 60px;
  margin-bottom: 40px;
  padding-top: 30px;
}
}
@media screen and (max-width: 800px) {
.huge {
  padding-top: 0px;
}
.hugeAbout {
  padding-top: 0px;
}
#weather {
  padding-top: 60px;
}
}

@media screen and (max-width: 600px) {
.huge {
  font-size: 55px;
  margin-bottom: 35px;
}
.hugeAbout {
  font-size: 55px;
  margin-bottom: 35px;
}
.subtitle {
  font-size: 22px;
 }
}

@media screen and (max-width: 400px) {
#weather {
  padding-top: 30px;
}
.huge {
  font-size: 45px;
  margin-bottom: 35px;
}

.hugeAbout {
  font-size: 45px;
  margin-bottom: 35px;
}
.subtitle {
  font-size: 22px;
}
footer {
  padding: 15px 0;
}
.location {
  font-size: 19px;
  padding-top: 9px;
}
}
