/*-------------------------
	Simple reset
--------------------------*/
*{
	margin: 0;
	padding: 0;
}
/*-------------------------
	General Styles
--------------------------*/
html{
	background-color: 
}
body{
	font-size: 14px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #fff;
	font-weight: normal;
}
a, a:visited {
	outline: none;
	color: #1c4f64;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
section, footer, header{
	display: block;
}
/*----------------------------
	The Header
-----------------------------*/
header h1{
	text-align:left;
	font-size: 52px;
	font-family: 'Novecento Wide', Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding-top:60px;
}
/*----------------------------
	The Weather Div
-----------------------------*/

html, body {
  height: 100%;
  width: 100%;
}
#weather {
  height: 100%;
  width: 100%;
}
.slide {
  padding: 100px 0 50px;
  height: 100%;
  width: 100%;
}
.slide > * {
  width: 80% !important;
  margin-left: 10%;
}
#slide-rain {
  background-color: #014f72;
  display: block;
}
#slide-cloudy {
  background-color: #648695;
  display: none;
}
#slide-sun {
  background-color: #01a7f2;
  display: none;
}
footer {
  padding: 30px 0;
}
footer > * {
  
}
.huge {
  font-size: 80px;
  margin-bottom: 80px;
  letter-spacing: 0.006em;
  line-height: 98%;
}
.subtitle {
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
}
.city {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  float: left;
}
.info {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff !important;
  float: right;
}
.slide > footer {
  position: absolute;
  bottom: 0;
}
