/*-------------------------
	Simple reset
--------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}
/*-------------------------
	Typography
--------------------------*/
body {
	font-size: 0.875em;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: white;
	font-weight: normal;
}
p {
  font-size: 1.25em;
  line-height: 140%;
  letter-spacing: 0.006em;
}
a, a:visited {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
h1 {
	font-size: 2.6em;
	font-family: 'Novecento Wide', Helvetica, Arial, sans-serif;
	font-weight: bold;
}
h4 {
  font-size: 1.8em;
  letter-spacing: 0.006em;
  line-height: 98%;
  font-style: italic;
  font-weight: 300;
}
.location {
  font-size: 1.35em;
  font-style: italic;
  font-weight: bold;
  float: left;
  padding-top: 4px;
}
.info {
  font-size: 2em;
  font-weight: 400;
  color: white !important;
  float: right;
  cursor: pointer;
}
/*-------------------------
	Layout
--------------------------*/
html, body {
  height: 100% !important;
  width: 100% !important;
  overflow: none;
  backround-color: none;
}
section, footer, header {
	display: block;
}
footer {
  padding: 3% 0;
}
.huge {
  margin-bottom: 10%;
}
.hugeAbout {
  margin-bottom: 10%;
}
#weather {
  height: 100%;
  width: 100%;
}
.slide {
  padding: 20% 0 0 0;
  height: 100%;
  width: 100%;
}
.slide > * {
  width: 90% !important;
  margin-left: 5%;
  margin-right: 5%;
}
.slide > footer {
  position: absolute;
  bottom: 0;
}
#logo > img {
  width: 50%;
  margin: 20% 25%;
}
/*----------------------------
	Gradients
-----------------------------*/
#slide-rain {
  display: none;
  background-image: linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
  background-image: -o-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(103,176,210) 14%, rgb(1,78,114) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top,	color-stop(0.14, rgb(103,176,210)), color-stop(0.86, rgb(1,78,114)));
}
#slide-cloudy {
  display: none;
  background-image: linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
  background-image: -o-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(184,201,212) 14%, rgb(100,134,149) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top,	color-stop(0.14, rgb(184,201,212)),	color-stop(0.86, rgb(100,134,149)));
}
#slide-sun {
  display: none;
  background-image: linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -o-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(133,216,255) 14%, rgb(1,166,242) 86%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.14, rgb(133,216,255)), color-stop(0.86, rgb(1,166,242)));
}
#slide-about {
  display: none;
  background-image: linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -o-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0.14, rgb(102,102,102)), color-stop(0.86, rgb(51,51,51)));
}
#slide-blank {
  display: block;
  background-image: linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -o-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(102,102,102) 14%, rgb(51,51,51) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top,	color-stop(0.14, rgb(102,102,102)),	color-stop(0.86, rgb(51,51,51)));
}
#slide-error {
  display: none;
  background-image: linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -o-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(252,124,92) 14%, rgb(238,46,3) 86%);
  background-image: -webkit-gradient(linear, left bottom,	left top,	color-stop(0.14, rgb(252,124,92)), color-stop(0.86, rgb(238,46,3)));
}


/*#####################################################*/
/*#####################################################*/


@media screen and (min-width: 350px) and (min-height: 350px) {
#logo > img {
  width: 40%;
  margin: 10% 30%;
}
}
@media screen and (min-width: 450px) and (min-height: 500px) {
h1 {
  font-size: 3.6em;
}
h4 {
  font-size: 2.4em;
}
.hugeAbout {
  margin-bottom: 8%;
}
}

@media screen and (min-width: 600px) and (min-height: 500px) {
h1 {
  font-size: 4.2em;
}
.huge {
  margin-bottom: 5%;  
}
.hugeAbout {
  margin-bottom: 5%;
}
#logo > img {
  width: 30%;
  margin: 10% 35%;
}
.slide {
  padding: 10% 0 0 0;
}
p {
  font-size: 1.6em;
}
}

@media screen and (min-width: 700px) and (min-height: 500px) {
h1 {
  font-size: 6em;
}
.slide {
  padding: 10% 0 0 0;
}
.info {
  font-size: 2.8em;
}
.location {
  font-size: 1.7em;
  padding-top: 8px;
}
}

@media screen and (min-width: 900px) and (min-height: 500px) {
h1 {
  font-size: 7em;
}
#logo > img {
  width: 20%;
  margin: 3% 40%;
}
}
